@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
:root{
    
        --bg-primary: #061325;
        --bg-light: #0e1c2f;
        --bg-lighter: #132238;
        --color-primary: #32adde;
        --color-secondary: #ec8fd1;
        --color-primary-darker: #2d9bc7;
        --color-secondary-darker: #c97ab2;
        --text-color: rgb(211, 211, 211);
    }



body{
    font-family: 'Signika', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-color);
}

.header{
 padding-right: 100px;   
}

.btn{
    color: var(--bg-lighter);
    border-radius: 5px;
    padding: 9px;
    text-decoration: none;
    background-image:linear-gradient(90deg, var(--color-primary), var(--color-secondary))
    
}

.gradient{
    padding-top: 1%;
    padding-right: 15%;
    padding-left: 10%;
    display: inline-block;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    background-image:linear-gradient(90deg, var(--color-primary), var(--color-secondary))
}


.info {
    text-align: center;
    
}

.open{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    background-image:linear-gradient(90deg, var(--color-primary), var(--color-secondary))


}

p{
    color: rgb(211, 211, 211);
}

.normal-link{
color:rgb(211, 211, 211);
padding: 10px;
text-decoration: none;
}

.normal-link:hover{
    text-decoration: underline;
}

h1{

font-size:40px;

}
.what{
text-align:center;
}

.question{
    font-size: 60px;
    color: var(--color-primary);
}

p{
    font-family: "Helvetica Neue";
    font-size: 17px;
}
.title{
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    background-image:linear-gradient(90deg, var(--color-primary), var(--color-secondary))
    
}
footer {
    font-size: 17px;
    position: fixed;
    bottom: 0;
    width: 100%; text-align: center;
}


.announcements {

    text-align: center;
}
