@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

body{
    color: #fff;
    background-color: #23272a;
    font-family: 'Sora', sans-serif;
    text-align: center;
}

a{

    color: ghostwhite;
    text-decoration: none;
    font-size: 120%;
    
}


a:hover{
    text-decoration: underline;


}


.email{
    background-color: #044caa;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  border-radius: 5px;
  font-size:  15px;
}


.showbtn {
	background-color:transparent;
	border-radius:28px;
	border:1px solid #006eff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.showbtn:hover {
	background-color:transparent;
}
.showbtn:active {
	position:relative;
	top:1px;
}

footer{
    position: fixed;
     bottom: 0;
     width: 100%;
     text-align: center;


}

.hvr{
    float:left;
    border-bottom: 2px solid #2353f1;
}

h3{
left: 100%;


}

.first {
    width: 400px;   /* the widht style of the first container is set to 400px. */
    text-align: center;
  }
  .second {
    width: 400px;   /* the widht style of the second container is set to 400px. */
    text-align: center;
  }
